.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-top: 0.35rem solid var(--gray-300);
    background-color: var(--gray-300);
    padding-bottom: 2.5rem;
    width: 100%;
}

.footer > * + * {
    margin-top: 2.5rem;
}

.footer-section-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.footer-section-hero {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    padding: 1rem 0px;
    width: 100%;
    font-weight: 500;
    font-size: 1.2rem;
}

.footer-section-links {
    display: none;
}

.footer-section-links a {
    color: var(--gray-75);
}

.footer-nav-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid var(--blue-clear);
    width: 100%;
}

@media screen and (min-width: 1028px) {
    .footer-section__dropdown-btn {
        display: none;
    }
}

.footer-nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 80%;
}

@media screen and (min-width: 1028px) {
    .footer-nav {
        display: grid;
        grid-template-rows: max-content 1fr;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 2rem;
        border-top: 1px solid var(--blue-clear);
        padding-top: 2rem;
        max-width: 1086px;
    }
}

@media screen and (min-width: 1028px) {
    .footer-section-links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .footer-section-links > * + * {
        margin-top: 1 rem;
    }
}

@media screen and (min-width: 1028px) {
    .footer-nav-content {
        border-bottom: 0px;
    }
}

.footer-section__responsive-container--mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-section__responsive-container--desktop {
    display: none;
}

@media screen and (min-width: 1028px) {
    .footer-section__responsive-container--mobile {
        display: none;
    }

    .footer-section__responsive-container--desktop {
        display: flex;
        flex-direction: column;
    }
}

.reviews-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: var(--gray-75);
    font-weight: 500;
    font-size: 1.1rem;
}

.reviews-container > * + * {
    margin-top: 1rem;
}

@media screen and (min-width: 1028px) {
    .reviews-container {
        flex-direction: row;
    }

    .reviews-container > * + * {
        margin-top: 0;
        margin-left: 1rem;
    }
}

.reviews-qualification {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: max-content;
}

.reviews-qualification > * {
    flex-basis: content;
    box-sizing: border-box;
}

.reviews-qualification > * + * {
    box-sizing: border-box;
    margin-left: 0.15rem;
}

.reviews-qualification-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--fluorescent-green);
    padding: 0.25rem;
    color: white;
}

.copyright {
    color: var(--gray-50);
    font-weight: 500;
}
